---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<MOVIEDB_API_KEY&query=pineapple
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 900c060c3d95ef7887e761a9e640df85
      X-Memc-Age:
      - '958'
      X-Memc-Expires:
      - '23883'
      Etag:
      - W/"398d5e99418da6af27b1f4898ad3f31c"
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/keZwcpEcuvy3t6a8y1OnUTPuY0i.jpg","genre_ids":[18,53],"id":567904,"original_language":"en","original_title":"Pineapple","overview":"When
        a miner''s daughter is assaulted in the local coal mine, she utters only one
        word, leaving the town''s sheriff baffled. The event quickly spirals out of
        control, impacting the entire town.","popularity":0.132,"poster_path":"/naIWdjnlEwUQ5kdmMHjzjJOkhpv.jpg","release_date":"2017-01-21","title":"Pineapple","video":false,"vote_average":0.0,"vote_count":0},{"adult":false,"backdrop_path":null,"genre_ids":[18],"id":25578,"original_language":"en","original_title":"Pineapple","overview":"A
        Texas publishing exec who''s on the wagon and in A.A., walks in on his wife
        in bed with another man, and in the nasty divorce that follows, he falls off
        the wagon and takes up Crystal. Alternating between concern for his pre-teen
        daughter, his enjoyment of rough sex and cocaine with Crystal.","popularity":0.537,"poster_path":"/px4V[...]
